@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-gradient-to-b from-white to-zinc-100 text-zinc-900 font-sans antialiased;
}
